{% extends "task/base.html" %}

{% block base %}

<div class="text-center bg-light mt-4 p-4">
    <h1>Register here</h1>
    <form method="POST" class="form-floating">
        {% csrf_token %}
                {% for field in user_form %}
                    <div class="mt-3">
                        {{ field.label_tag }}{{ field }}  
                    </div>
                {% endfor %}
        <br>
        <input type="submit" value="Register" class="btn btn-outline-secondary">
    </form>
</div>

{% endblock %}