#abt1 {
    font-size: 18px;
  }

  #abt2 {
    font-size: 17px;
  }

  .abt {
    margin-left: 430px;
    font-size: 21px;
    margin-top: 30px;
  }

  table {
    border-collapse: collapse;
    width: 36%;
  }      

  .center {
    margin-left: auto;
    margin-right: auto;
  }

  .item-row{
    padding: 5px;
  }
  
  /* to remove extra description given by django forms */
  .helptext{
    visibility: hidden;
  }

  /* to show the form fields inline */
  div.custom-form-field{
    display: inline;
  }

  /* customizing the footer */
  .custom-footer{
    background-color: rgba(0, 0, 0, 0.05);
    /*position: absolute;*/
    padding: 10px;
    bottom: 0;
    width: 100%;
    height: 60px;
    margin-top: 40px;
  }

  .custom-color{
    background-color: rgba(0, 0, 0, 0.05);
  }

  /* left to right transition */
  .slide-right {
    width: 100%;
    overflow: hidden;
    margin-left: 300px;
    max-width: 500px
  }
  
  .slide-right h2 {
    animation: 1s slide-right 0.8s forwards;
      transform:translateX(-100%);
  }
  
  @keyframes slide-right {
    to {
      transform:translateX(0);
    }
  }

  /* to make the footer sticky */
  html, body {
    height: 100%;
    margin: 0;
  }
  .wrapper {
    min-height: 84%;
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
  }
  .footer,
  .push {
    height: 50px;
  }